#app-container {
    width: 100%; height: 100%;
    max-width: 500px; /* عرض الموبايل */
    margin: 0 auto;   /* توسيط في الديسك توب */
    background: var(--bg-primary);
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.5); /* ظل في الديسك توب */
}

#main-content {
    position: absolute;
    top: var(--header-height);
    bottom: var(--nav-height);
    width: 100%;
    overflow-y: auto;
    padding: 0;
}